*{
    margin: 0 ;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: #293241; */
    background-repeat: no-repeat;
    background-size: cover;
}
.Card{
    width: 30%;
    height: 85vh;
    /* background-color: #3D5A80; */
    border-radius: 15px 50px;
    color: #E0FBFC;
    position: relative;
    background: linear-gradient(
      to bottom right,
      rgba(255, 255, 255, 0.2),
      rgba(255, 255, 255, 0.05)
    );
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.5), -1px -1px 2px #aaa,
      1px 1px 2px #555;
    backdrop-filter: blur(0.8rem);
}
.top{
    margin-top: 1.5rem;
    width: 100%;
    height: 100%;
}
.top h1{
    font-size: 4rem;
    margin-top: 2rem;
}
.top h2{
    margin: 0 !important;
}
.bottom{
    width: 80%;
    height: 60%;
    background-color: #a4bee0;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    color: #3D405B;
}
.first-row{
    display: flex;
    justify-content: space-around;
    margin: 0;
}
.second-row{
    display: flex;
    justify-content: space-around;
}
.third-row{
    display: flex;
    justify-content: space-around;
}

/* Mobile */
@media screen and (max-width:768px){
    .Card{
        width: 94%;
    }
    .bottom{
        height: 53%;
    }
    .bottom h2{
        font-size: 1.4rem;
    }
    .bottom h3{
        font-size: 1rem;
        margin-top: 1rem;
    }
}
